<!-- project details -->
<div id="description">
  
<header id="header" >
        <div  class="container">
            <div class="row">
                <div class=" col logo">
                    <a href="#">
                            <img src="./assets/images/pariksha2.jpg" height=80px width="" alt="">
                    </a>
                </div>

                <nav  id="main-nav" >
                   <button class="menu-btn">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                   </button>
                   <ul>
                    
                       <li><a class="menu-link" href="#description" target="_self">Description</a></li>
                       <li><a class="menu-link" href="#howToUse" target="_self">How to use</a></li>
                       <li><a class="menu-link" href="#contact" target="_self">Contact</a></li>
                       <li><a class="menu-link" href="#/home">Start Using</a></li>

                   </ul>

                </nav>
            </div>

        </div>
    </header>
    <banner >
        <img src="./assets/images/testbanner6.jpg" height="625px"; width="100%"; alt="">
    </banner>
    <div id="description" class="description" style="min-height: 400px; padding-top: 60px;">
        <div class="container">
        <h2 class="">The Best Test Maker for Business & Education </h2>
         <p> Parikshaa's secure, professional web-based Test maker is an easy-to-use, customizable online testing solution for business, training &    educational assessment with Tests & Quizzes graded instantly saving you hours of paperwork!
             Whether you're testing 5 or 500 users, Parikshaa will save you those long, painful hours of creating, distributing and grading tests And because Parikshaa is online, there's no software installations for you or your users, so tests can be taken instantly, 24/7.
         </p>
        </div>
    </div>
       
 <div id="howToUse" class="">
        <a name="howToUse"> 
     <h1 >How To Use This Application</h1>
     
    <div id="dcreate" class=" container">
            <div class="row">
         <div class="col-sm-6">
         <h2>Create <span> Test</span> </h2>
         <p>The Tests section is where you add and edit questions .Only teacher has access to the create Test section.
                Create a test and then add questions directly into the test (you can provide as many options you want). These questions are also automatically added to the Questions Record section and then you have to click on create test button and Your test is ready!
         </p>
        </div>
        <div class="col-sm-6">
                <video width="330" height="230" controls>
                        <source src="./assets/images/aditya.mp4">
                      Your browser does not support the video tag.
                </video>
        </div>
     </div><hr>
    </div>

    <div id="dattempt" class="container ">
            <div class="row">
            <div class="col-sm-6">
             <video width="330" height="230" controls>
                <source src="./assets/images/fonali.mp4">
                 Your browser does not support the video tag.
             </video>
            </div>
         <div class="col-sm-6" >
         <h2>Attempt<span> Test</span> </h2>
         <p>The attempt section is where students can attempt tests created by teachers.The unattempted and attempted test are shown on their dashboards. By clicking on unattempted tests they can attempt those test within a time duration. They can view previous and next questions by clicking on buttons and when test gets over they have to click on submit button and it will automatically ends if the time gets over.
         </p>
        </div>
       
     </div>
     <hr>
    </div>

  
    <div id="dreview" class=" container">
        <div class="row">
     <div class="col-sm-6">
     <h2>Review<span> Test</span> </h2>
     <p>The review section is where students can see their attempted tests .They can view their answers and the correct ones and analyse their     result .Both student and teacher has access to the review section.Teachers can view their created test and questions by clicking on        review test on their dashboard. 
     </p>
    </div>
    <div class="col-sm-6">
            <video width="330" height="230" controls>
                    <source src="./assets/images/arpan.mp4">
                  Your browser does not support the video tag.
                  </video>
    </div>
      </div>
   </div>
    <div class="container"> <a href="#home"><button class="rbutton">Start using this app  </button></a> </div>
 
</div>

   <div id="contact" style="background-color:black ;">
       <div class="container">
        <div class="row">
           <div class="col-md-6 footer">

               <div id="stylelogo" class="row">
             <img src="./assets/images/pariksha2.jpg" height="80px" width="180px" alt="">
    
               <div class=" medialink " >
                    <a href="#">
                            <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                            <i class="fab fa-twitter"></i>
                    </a>
                     <a href="#">
                            <i class="fab fa-instagram"></i>
                    </a>
                      
               </div>
               
            </div>
                 </div>
                 <div class="footer col-md-6 ">
                        <div id="mails">
                        
                            <h3>Contacts
                                    <i class="fas fa-map-marker"></i>
                            </h3>
                            <br>
                            <ul>
                                    <li><strong>Mail 1:</strong> arpan2.saini@gmail.com</li><br>
                                    <li><strong>Mail 2:</strong> naditya726@gmail.com</li><br>
                                    <li><strong>Mail 3:</strong> sonalisinghal.155@gmail.com</li><br>
                            </ul>
                     
                        
                        </div>
                        </div>
               
                       
        </div>
    </div>
    </div>
<style>
    body{
        font-family: 'Montserrat', sans-serif;
    }
</style>
</div>